<div class="new-edit-box user-new-box">
  <h1>新規登録してログイン</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>  
  <%= f.label :'ユーザー名' %>
  <%= f.text_field :name, placeholder: 'ユーザー名を入力' %>

  <%= f.label :'メールアドレス' %>
  <%= f.email_field :email, placeholder: 'sample@mail.com' %>

  <%= f.label :'パスワード' %>
  <%= f.password_field :password, placeholder: 'パスワードは6文字以上の英数字にしてください。' %>

  <%= f.label :'パスワードの再入力' %>
  <%= f.password_field :password_confirmation, placeholder: 'パスワード再入力' %>

  <%= f.submit "アカウントの作成" %>
<% end %>
</div>