<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="description" content="ディスクリプション">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <header>
      <div class="inner">
        <div class="logo"><img src="/images/logo.gif" width="24" height="24"></div>
        <nav>
        <% if logged_in? %>
          <%= link_to "プロフィール", user_path(current_user.id) %>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to "サインアップ", new_user_path %>
          <%= link_to "ログイン", new_session_path %>
        <% end %>
        </nav>
      </div>
    </header>

    <div class="wrapper clearfix">
      <div class="left-col">
        <ul>
          <li class="current"><a href="/blogs">ニュースフィード</a></li>
          <li>Messenger</li>
          <li>Watch</li>
        </ul>
        <h3>発見</h3>
        <ul>
          <li>グループ</li>
          <li>Facebookページ</li>
          <li>イベント</li>
          <li>友達一覧</li>
          <li>募金キャンペーン</li>
        </ul>
      </div>
      <div class="main-col">
      <%= yield %>
      </div>
    </div><!--wrapper-->
    <!--<div class="footer">
      <p>facebook clone</p>
    </div>-->
  </body>
</html>
